body {
display: flex;
flex-direction: column;
margin: 0;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}

.header{
background-color: #1F2937;
display: flex;
flex-direction: column;
align-content: space-between;
padding: 30px;
color: #F9FAF8;

}



.topheader{
   display: flex;
   justify-content: space-between;
   align-items: center;
}


.logo{
    font-size: 24px;
    font-weight: bold;
    
}

.links {
    display: flex;
    gap: 15px;
    
}

/*bottom header */

.bottomheader {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
    
    
}

img {
    width: 400px;
    height: auto;
}

#topbutton{
    background-color: #3882f6;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    border:0px;
    border-radius:5px;
    color: white;
    font-weight: bold;
}
/* second-section{
}*/

.secondsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.box-with-text{
    display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}

.thirdsection{
    background-color: #E5E7EB;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

#quote{
    max-width: 500px;
    font-style: italic;
}

#author{
    display: flex;
    flex-direction: row;
    justify-self: self-end;
    font-weight: bold;
}

/*fourth section*/

.fourthsection{
    margin: 50px;
    margin-left: 200px;
    margin-right: 200px;
}
.fourth-section-box{
    background-color:#3882f6;
    display: flex;
    justify-content: center;
    gap:30px;
    color:#F9FAF8;
}

#bottom-button{
    background-color: transparent;
    color:#F9FAF8;
    border-color: #F9FAF8;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right:15px;
    border-radius: 5px;
    font-weight: bold;
}

.footer{
background-color: #1F2937;
color:#F9FAF8;
display: flex;
justify-content: center;
}