body {
display: flex;
flex-direction: column;
margin: 0;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}

.header{
background-color: #1F2937;

}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    
}

/* second-section{
}*/

.thirdsection{
    background-color: #E5E7EB;
}

/*fourth section*/

.footer{
background-color: #1F2937;
}