body {
display: flex;
flex-direction: column;
margin: 0;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}

.header{
background-color: #1F2937;
display: flexbox;
justify-content: space-between;
padding: 30px;


}

.topheader{
   color: #F9FAF8;
   display: flex;
   justify-content: space-between;
   align-items: center;
}


.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    
}

.links {
    display: flex;
    gap: 15px;
    
}

/*bottom header */

.bottomheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

img {
    width: 400px;
    height: auto;
}

/* second-section{
}*/

.thirdsection{
    background-color: #E5E7EB;
}

/*fourth section*/

.footer{
background-color: #1F2937;
}